/* Add CSS Styling */

/*All odd-numbered elements use p*/
/*All even numbers use div*/

p {
    background-color: lightpink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.second-element{
    color: blue;
    font-size: 36px;
}

.third-element{
    font-size: 24px;
}

.fourth-element{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}