.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 8px;
  display: flex;
  align-items: center;
  /*This moves everything out the way*/
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  /*These keep the items on the edge of the header*/
  margin: 0;
  padding: 0;
  /*This creates gaps between each item*/
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}